body {
	background-color: LightGrey;
}

#form {
	font-weight: bold;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	padding: 0px 45px 10px 1000px;
}

#emotionButtons {
	margin: 10px;
	font-size: 12px;
	width: 75%;
}

#emotions {
	font-family: 'Roboto', sans-serif;
	width: 100%;
}

.gif {
	margin-left: 15px;
	margin-bottom: 10px;
	font-size: 12px;

}

#button {
	padding: 0px;
}


