body {
	background-color: rgba(0, 0, 0, 0.2);
}

#form {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	
	padding: 0px 45px 0px 1000px;
}

#emotionButtons {
	margin: 10px;
	font-size: 18px;
	width: 75%;
}

#emotions {
	font-family: 'Roboto', sans-serif;
	width: 100%;
}

.gif {
	
}